*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-image: url(pexels-peng-liu-45946-169647\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
text-align: center;
margin-top: 20%;
color: white;
}
h5{
text-align: center;
color: white;
}
button{
   text-align: center;
    padding: 10px 20px;
    margin-left: 47%;
}